@font-face {
   font-family: 'Barlow-SemiBold';
   font-display: swap;
   src: url('file:///C:/Users/Juan/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-04-23_114008/fonts/Barlow-SemiBold/font.ttf');
}
